mat-sidenav {
    width: 280px;
    padding:15px;
}

.navbar-color {background-color: rgb(33, 150, 243); color: white;}
.router-link-active {background-color: #414548;}
.no-border {border-radius: 0px;}

.toolbar-color {background-color: rgb(33, 150, 243); color: white;}
.center {
  margin-left: auto;
  margin-right: auto;
}
.v-center {
  margin-top: auto;
  margin-bottom: auto;
}
.mat-drawer { 
    background-color:rgb(255, 255, 255); color: black;
}
.main-content {
    padding:20px;
}
.toolbar-spacer {
    flex: 1 1 auto;
}
.navlist {
    background-color:rgb(33, 150, 243); color: white;;
    position: absolute;
    width: 100%;
}
.fill-remaining-space {
    flex: 1 1 auto;
  }

.selected {background-color: gainsboro;}