<div class="serach-box">
  <input type="search" class="mat-elevation-z2" [matAutocomplete]="auto" [formControl]="searchControl">
  <div class="spacer"></div>
  <mat-autocomplete #auto="matAutocomplete" class="mat-elevation-z2">
    <mat-option *ngFor="let item of results" [value]="item[7]" (click)="getMovieById(item)">
      <span [innerHTML]="item | bold:searchControl.value"></span>
    </mat-option>
  </mat-autocomplete>
</div>
<div *ngIf="!this.hideShowLatestPicks">
  <div>
    <div class="pick-title"><h4>Latest Picks</h4></div>
    <latest-picks [value]="this.latestPicks" (movieClickEvent)="movieFunc($event)"></latest-picks>
  </div>
  <div>
    <div class="pick-title"><h4>Popular Picks</h4></div>
    <latest-picks [value]="this.popularPicks" (movieClickEvent)="movieFunc($event)"></latest-picks>
  </div>
</div>

<movie-detail *ngIf="this.hideShowLatestPicks" [value]="this.movieDetail" [userMovieInfo]="this.userMovieInfo"></movie-detail>