
.movie-container{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.example-card {
    max-width: 200px;
    max-width: 400px;
    margin: 0px 5px;
}

.movie-title{
font-size: 12px;
}
