<div class="serach-box">
  <input type="search" class="mat-elevation-z2" [matAutocomplete]="auto" [formControl]="searchControl">
  <div class="spacer"></div>
  <mat-autocomplete #auto="matAutocomplete" class="mat-elevation-z2">
    <mat-option *ngFor="let item of results" [value]="item[7]" (click)="getMovieById(item)">
      <span [innerHTML]="item | bold:searchControl.value"></span>
    </mat-option>
  </mat-autocomplete>
</div>

<div class="block-container">
  <custom-counter-blocks [tabsdata]="newtab" (tabClickEvent)="tabClick($event)"></custom-counter-blocks>
</div>

<div class="example-container mat-elevation-z8">

  <h4 class="card-title ">Movies List
    <mat-chip-list class="pull-right">
      <mat-chip color="primary" selected="true" (click)="redirectToAdd()"> Add Movie </mat-chip>
      <mat-chip color="primary" selected="true" (click)="clearFilter()"> Clear Filter </mat-chip>
    </mat-chip-list>
  </h4>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="movieId">
        <th mat-header-cell *matHeaderCellDef>
          <div>
            <span class="header" mat-sort-header>Movie Id</span>
            <span class="filter">
              <mat-form-field>
                <input matInput placeholder="Movie Id" (keyup)="applyFilter()" [(ngModel)]="idFilter">
              </mat-form-field>
            </span>
          </div>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.movieId}} </td>
      </ng-container>
      <ng-container matColumnDef="moviePoster">
        <th mat-header-cell *matHeaderCellDef>
          <div>
            <span class="header" mat-sort-header>Movie Poster</span>
          </div>
        </th>
        <td mat-cell *matCellDef="let element"><img id="myimage" src="{{element.dbFiles[0].data | image}}"
            alt="poster Thumbnail" style="width:100px;height:120px;"></td>
      </ng-container>
      <ng-container matColumnDef="movieName">
        <th mat-header-cell *matHeaderCellDef>
          <div>
            <span class="header" mat-sort-header>Movie Name</span>
            <span class="filter">
              <mat-form-field>
                <input matInput placeholder="Movie Name" (keyup)="applyFilter()" [(ngModel)]="nameFilter">
              </mat-form-field>
            </span>
          </div>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.movieName}} </td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>
          <div>
            <span class="header" mat-sort-header> Description </span>
            <span class="filter">
              <mat-form-field>
                <input matInput placeholder="Description" (keyup)="applyFilter()" [(ngModel)]="descriptionFilter">
              </mat-form-field>
            </span>
          </div>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>
      <ng-container matColumnDef="genre">
        <th mat-header-cell *matHeaderCellDef>
          <div>
            <span class="header" mat-sort-header> Genre </span>
            <span class="filter">
              <mat-form-field>
                <input matInput placeholder="Genre" (keyup)="applyFilter()" [(ngModel)]="genreFilter">
              </mat-form-field>
            </span>
          </div>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.genre}} </td>
      </ng-container>
      <ng-container matColumnDef="director">
        <th mat-header-cell *matHeaderCellDef>
          <div>
            <span class="header" mat-sort-header> Director </span>
            <span class="filter">
              <mat-form-field>
                <input matInput placeholder="Director" (keyup)="applyFilter()" [(ngModel)]="directorFilter">
              </mat-form-field>
            </span>
          </div>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.director}} </td>
      </ng-container>
      <ng-container matColumnDef="language">
        <th mat-header-cell *matHeaderCellDef>
          <div>
            <span class="header" mat-sort-header> Language </span>
            <span class="filter">
              <mat-form-field>
                <input matInput placeholder="Language" (keyup)="applyFilter()" [(ngModel)]="languageFilter">
              </mat-form-field>
            </span>
          </div>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.language}} </td>
      </ng-container>
      <ng-container matColumnDef="year">
        <th mat-header-cell *matHeaderCellDef>
          <div>
            <span class="header" mat-sort-header> Year </span>
            <span class="filter">
              <mat-form-field>
                <input matInput placeholder="Year" (keyup)="applyFilter()" [(ngModel)]="yearFilter">
              </mat-form-field>
            </span>
          </div>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.year}} </td>
      </ng-container>
      <ng-container matColumnDef="createdBy">
        <th mat-header-cell *matHeaderCellDef>
          <div>
            <span class="header" mat-sort-header> Created By </span>
          </div>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.createdBy}} </td>
      </ng-container>
      <ng-container matColumnDef="createdDateTime">
        <th mat-header-cell *matHeaderCellDef>
          <div>
            <span class="header" mat-sort-header> Created Date Time </span>
          </div>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.createdDateTime | date}} </td>
      </ng-container>
      <ng-container matColumnDef="update">
        <th mat-header-cell *matHeaderCellDef> Update </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="accent" (click)="redirectToUpdate(element)">
            <mat-icon class="mat-18">system_update</mat-icon>
          </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Delete </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="warn" (click)="redirectToDelete(element)">
            <mat-icon class="mat-18">delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 100]"></mat-paginator>
  </div>

</div>