<div class="block-container">
    <custom-counter-blocks [tabsdata]="newtab" (tabClickEvent)="tabClick($event)"></custom-counter-blocks>
</div>
<h4 class="card-title ">Employee List
    <mat-chip-list class="pull-right">
        <mat-chip color="primary" selected="true" (click)="redirectToAdd()"> Add Employee </mat-chip>
        <mat-chip color="accent" selected="true" (click)="redirectToDownload()"> Export </mat-chip>
    </mat-chip-list>
</h4>
<div class="employee-detail">
    <div class="wrapper">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

            <ng-container matColumnDef="fullName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Full Name </th>
                <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
            </ng-container>
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>
            <ng-container matColumnDef="mobile">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Mobile </th>
                <td mat-cell *matCellDef="let element"> {{element.mobile}} </td>
            </ng-container>
            <ng-container matColumnDef="city">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> City </th>
                <td mat-cell *matCellDef="let element"> {{element.city}} </td>
            </ng-container>
            <ng-container matColumnDef="gender">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Gender </th>
                <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
            </ng-container>
            <ng-container matColumnDef="department">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Dept </th>
                <td mat-cell *matCellDef="let element"> {{element.department|deptName}} </td>
            </ng-container>
            <ng-container matColumnDef="hireDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Hire Date </th>
                <td mat-cell *matCellDef="let element"> {{element.hireDate|date}} </td>
            </ng-container>
            <ng-container matColumnDef="permanent">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> is Parmanent </th>
                <td mat-cell *matCellDef="let element"> {{element.permanent ? 'Permanent' : 'Temporary'}} </td>
            </ng-container>

            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef> Delete </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button color="warn" (click)="redirectToDelete(element)">
                        <mat-icon class="mat-18">delete</mat-icon>
                    </button>
                </td>
            </ng-container>
            <ng-container matColumnDef="update">
                <th mat-header-cell *matHeaderCellDef> Update </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button color="accent" (click)="redirectToUpdate(element)">
                        <mat-icon class="mat-18">system_update</mat-icon>
                    </button>
                </td>
            </ng-container>

            <!-- <ng-container matColumnDef="details">
            <th mat-header-cell *matHeaderCellDef> Details </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="primary" (click)="redirectToDetails(row.employeeId)">
                    <mat-icon class="mat-18">reorder</mat-icon>
                </button>
            </td>
        </ng-container>
        
         -->


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row (click)="rowClick(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
    </div>
</div>