<div class="col-md-12 user-container">
  <h2 class="text-center">Add Movie</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="movieName">Movie Name:</label>
      <input type="text" formControlName="movieName" placeholder="Movie Name" name="movieName" class="form-control" id="movieName">
    </div>

    <div class="form-group">
      <label for="movieRating">Movie Rating:</label>
      <input type="text" formControlName="rating" placeholder="Rating" name="movieRating" class="form-control" id="movieRating">
    </div>

    <div class="form-group">
      <label for="movieLanguage">Movie Language:</label>
      <input formControlName="language" placeholder="Language" name="movieLanguage" class="form-control" id="movieLanguage">
    </div>
    <div class="form-group">
      <label for="movieLanguage">Movie Year:</label>
      <input formControlName="year" placeholder="Year" name="movieYear" class="form-control" id="movieYear">
    </div>
    <div class="buttons">
      <div class="clear-add-button"><button mat-raised-button  color="primary" >Add Movie</button></div>
      <div class="clear-back-button"><button mat-raised-button  color="primary" [routerLink]="['/viewMovie']" >Back</button></div>
    </div>
  </form>
</div>